{{ partial "header.html" . }}
<div class="row mb-5">
  <div class="col-lg-12">
    {{ .Content }}
  </div>
</div>

<div class="row mt-2">
  {{ range .Pages }}
    {{ $link := .Permalink }}
    <div class="col-lg-4 mb-4">
      <div class="card">
        {{ range first 1 (.Resources.ByType "image") }}
          <a href="{{ $link }}"><img src="{{ .Permalink }}" class="card-img-top" loading="lazy"/></a>
        {{ end }}
        <div class="card-body">
          <h5 class="card-title"><a href="{{ $link }}"><span class="flag flag-32-{{lower .Params.Country}}"></span>&nbsp;{{ .Title }}</a></h5>
          <p class="card-text">{{ .Content | truncate 200 }}</p>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{ partial "footer.html" . }}
