{{ partial "header.html" . }}
<div class="row mb-5">
  <div class="col-lg-12">
    {{ .Content }}
  </div>
</div>
{{ $pages := .Paginate .Pages}}
{{ partial "pagination.html" . }}

<div class="row mt-2">
  {{ range ($pages).Pages }}
    {{ $link := .Permalink }}
    <div class="col-lg-4 mb-4">
      <div class="card">
        {{ range first 1 (.Resources.ByType "image") }}
          <div class="card-img-top thumbnail" style="background-image: url({{ .Permalink }});">
            <a href="{{ $link }}"><img class="emptyfill" src="/empty.png"/></a>
          </div>
        {{ end }}
        <div class="card-body">
          <h5 class="card-title"><a href="{{ $link }}"><span class="flag flag-32-{{lower .Params.Country}}"></span>&nbsp;{{ .Title }}</a></h5>
          <p class="card-text">{{ .Content | truncate 200 }}</p>
        </div>
      </div>
    </div>
  {{ end }}
</div>

{{ partial "pagination.html" . }}

{{ partial "footer.html" . }}
