{{ partial "header.html" . }}
<div class="row mb-4">
  <div class="col-lg-12 text-center">
    <a href="http://www.google.com/maps/place/{{ .Params.Latitude }},{{ .Params.Longitude }}" target="_blank">
      <img alt="Coordinates at {{ .Params.Latitude }},{{ .Params.Longitude }}" src="https://maps.geoapify.com/v1/staticmap?style=positron&width=600&height=400&center=lonlat:{{ .Params.Longitude }},{{ .Params.Latitude }}&zoom=3.2&marker=lonlat:{{ .Params.Longitude }},{{ .Params.Latitude }};color:%23ff0000;size:medium&apiKey=34963d32e3f9434f9b4a6cf05b8b961c" class="img-thumbnail"/>
    </a>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    {{ .Content }}

    <p class="text-right"><small>
      {{with .Params.Author}}Submitted by {{.}}.{{end}}
      {{with .Params.Details_Link}}More information about this location can be found <a href="{{.}}" target="_blank">here</a>.{{end}}
    </small></p>
  </div>
</div>

<div class="row">
  {{ range .Resources.ByType "image" }}
    <div class="col-lg-4">
      <a href="{{ .Name }}"><img src="{{ .Name }}" class="img-thumbnail mt-3"/></a>
    </div>
  {{ end }}
</div>


{{ partial "footer.html" . }}
