{{ partial "header.html" . }}
<div class="row mb-5">
  <div class="col-lg-12">
    {{ .Content }}
  </div>
</div>
<div class="row mt-2">
  {{ range .Data.Terms.Alphabetical }}
    {{ $cc := .Name | upper }}
    {{ $cn := index $.Site.Data.countries $cc "name" }}
    {{ $link := .Name | urlize }}
    <div class="col-lg-4 mb-3">
      <div class="card">
        {{ range first 1 .Pages }}
        {{ range first 1 (.Resources.ByType "image") }}
          <div class="card-img-top thumbnail" style="background-image: url({{ .Permalink }});">
            <a href="{{ $link }}"><img class="emptyfill" src="/empty.png"/></a>
          </div>
        {{ end }}
        {{ end }}
        <div class="card-body">
          <h5 class="card-title"><a href="{{ $link }}"><span class="flag flag-32-{{lower $cc}}"></span>&nbsp;{{ $cn }}</a></h5>
          <p class="card-text">{{ .Pages | len }} locations</p>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{ partial "footer.html" . }}
