@import "./flags.scss";

@font-face {
  font-family: 'PermanentMarker';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/PermanentMarker-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Quicksand-Medium.ttf") format("truetype");
}

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$font-family-headings: 'PermanentMarker', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-family-sans-serif: 'Quicksand', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
// $font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;


.title {
  font-family: $font-family-headings;
  img {
    height: 1.2em;
    vertical-align: bottom;
  }
  small {
    font-family: $font-family-sans-serif;
    font-size: 0.6em;
    color: lighten($dark, 40%)
  }
  a {
    color: $black;
  }
  a:hover {
    color: $black;
    text-decoration: none;
  }
}

.red {
  color: $red;
}


.breadcrumbnav {
  font-size: 0.8em;
}

.card-title a:hover {
  text-decoration: none;
}

.thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center; 
}

.emptyfill {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pagination {
  justify-content: center;
}

// Bootstrap and its default variables
@import "./bootstrap/bootstrap.scss";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/brands.scss";
@import "./fontawesome/solid.scss";